/*----- Font-Face CSS Start -----*/

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.eot');
    src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Rubik-Medium.woff2') format('woff2'), url('../fonts/Rubik-Medium.woff') format('woff'), url('../fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.eot');
    src: url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Rubik-Bold.woff2') format('woff2'), url('../fonts/Rubik-Bold.woff') format('woff'), url('../fonts/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.eot');
    src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Rubik-Regular.woff2') format('woff2'), url('../fonts/Rubik-Regular.woff') format('woff'), url('../fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fontAwesome-solid';
    src: url("../webfonts/fa-solid-900.eot");
    src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
    font-style: normal;
    font-weight: 900;
    font-display: auto;
}

/*----- Font-Face CSS End -----*/

/*----- Common CSS Start -----*/

body, html {
    padding: 0;
    margin: 0;
    font-family: 'Rubik';
}

* {
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
}

.d-none {
    display: none;
}
 
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

/*----- Common CSS End -----*/

/*----- Login CSS Start -----*/

.login-wrap {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: inherit;
    background: #111111;
}

.login-wrap .login-right {
    position: relative;
    min-height: 100vh;
    width: 43%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #243242 0%, #090a0f 100%);
}

.login-wrap .login-left {
    position: relative;
    min-height: 100vh;
    width: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 0 35px 35px 0;
    z-index: 10;
}

.login-wrap .login-left .login-left-wrap {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 20px;
}

.login-wrap .login-left .title {
    font-size: 32px;
    color: #212121;
    font-weight: 700;
    margin: 0 0 50px 0;
}

.login-wrap .login-left .title span {
    display: block;
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #444444;
}

.login-wrap .login-left .site-logo,
.login-wrap .login-left form {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.login-wrap .login-left form {
    padding: 80px 0;
}

.login-wrap .login-left .site-logo {
    padding-top: 30px;
}

.login-wrap .login-left .site-logo img {
    height: 44px;
}

.login-wrap .login-left .login-form {
    position: relative;
    display: flex;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    align-items: center;
}


.sign-field {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.sign-field input {
    position: relative;
    display: block;
    /* border: 1px solid rgb(207, 214, 228); */
    position: relative;
    height: 50px;
    width: 100%;
    display: block;
    background: #ffffff;
    border: 1px solid #6c757d;
    border-radius: 4px;
    font-size: 15px;
    padding: 10px 15px;
    box-shadow: none;
    transition: 0.3s all;
}

.sign-field.pwd input {
    padding-right: 30px;
}

.sign-field label {
    position: absolute;
    top: -8.5px;
    left: 10px;
    margin: 0;
    font-size: 13px;
    display: flex;
    align-items: center;
    line-height: normal;
    text-transform: capitalize;
    color: #969696;
    transition: 0.3s all;
    padding: 1px 5px;
    background: #ffffff;
    border-radius: 2px;
}

.pass-eye {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #444;
    font-size: 16px;
    cursor: pointer;
}

.pass-eye.show .fa-eye:before {
    content: '\f070';
}

.sign-field label i {
    font-size: 10px;
    margin-right: 5px;
}


.btn {
    position: relative;
    display: block;
    font-size: 16px;
    padding: 10px 38px;
    line-height: 26px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.copyright {
    position: relative;
    padding-bottom: 20px;
    display: block;
    font-size: 14px;
}

.copyright a {
    text-decoration: none;
    color: #212121;
    transition: 0.3s;
}

.copyright a:hover {
    color: #0675e8;
}

/*----- Login CSS End -----*/

/*----- Circle Animation CSS End -----*/

.fall {
    position: relative;
    transform-style: preserve-3d;
    -webkit-animation: fallRotate 42s infinite linear;
            animation: fallRotate 42s infinite linear;
  }
  @-webkit-keyframes fallRotate {
    to {
      transform: rotateY(360deg);
    }
  }
  @keyframes fallRotate {
    to {
      transform: rotateY(360deg);
    }
  }
  
  .wall {
    position: absolute;
    width: 80px;
    height: 80px;
    transform-style: preserve-3d;
    background-image: linear-gradient(#0007, #000c);
    -webkit-animation: move 15s infinite linear;
            animation: move 15s infinite linear;
    bottom: -210px;
  }
  .wall:nth-child(odd) {
    left: -10px;
    transform: translate(-50%, 50%) rotateY(90deg) rotateX(45deg) translatez(-20px) translateY(-220px);
  }
  .wall:nth-child(even) {
    left: 10px;
    transform: translate(-50%, 50%) rotateY(-90deg) rotateX(45deg) translatez(-20px) translateY(-220px);
  }
  .wall:nth-child(1) {
    -webkit-animation-delay: -1.5s;
            animation-delay: -1.5s;
    background-color: #ef8f8f;
  }
  .wall:nth-child(2) {
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    background-color: #efc98f;
  }
  .wall:nth-child(3) {
    -webkit-animation-delay: -4.5s;
            animation-delay: -4.5s;
    background-color: #dcef8f;
  }
  .wall:nth-child(4) {
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    background-color: #a3ef8f;
  }
  .wall:nth-child(5) {
    -webkit-animation-delay: -7.5s;
            animation-delay: -7.5s;
    background-color: #8fefb6;
  }
  .wall:nth-child(6) {
    -webkit-animation-delay: -9s;
            animation-delay: -9s;
    background-color: #8fefef;
  }
  .wall:nth-child(7) {
    -webkit-animation-delay: -10.5s;
            animation-delay: -10.5s;
    background-color: #8fb6ef;
  }
  .wall:nth-child(8) {
    -webkit-animation-delay: -12s;
            animation-delay: -12s;
    background-color: #a38fef;
  }
  .wall:nth-child(9) {
    -webkit-animation-delay: -13.5s;
            animation-delay: -13.5s;
    background-color: #dc8fef;
  }
  .wall:nth-child(10) {
    -webkit-animation-delay: -15s;
            animation-delay: -15s;
    background-color: #ef8fc9;
  }
  @-webkit-keyframes move {
    from {
      bottom: -1210px;
    }
    to {
      bottom: 810px;
    }
  }
  @keyframes move {
    from {
      bottom: -1210px;
    }
    to {
      bottom: 810px;
    }
  }
  .wall > div {
    position: absolute;
    background-color: inherit;
  }
  .wall .ceil {
    width: 80px;
    height: 80px;
    background-image: linear-gradient(#fff7, #fff0);
    -webkit-animation: wallCeil 15s infinite linear;
            animation: wallCeil 15s infinite linear;
    -webkit-animation-delay: inherit;
            animation-delay: inherit;
    overflow: hidden;
  }
  .wall .ceil::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#000, #0000 50%);
    -webkit-animation: shadow 15s infinite linear;
            animation: shadow 15s infinite linear;
    -webkit-animation-delay: inherit;
            animation-delay: inherit;
  }
  @-webkit-keyframes shadow {
    0%, 48%, 53%, 100% {
      opacity: 0;
      transform: translateY(80px) scale(2);
    }
    50% {
      opacity: 0.25;
      transform: translateY(4px) scale(0.5);
    }
  }
  @keyframes shadow {
    0%, 48%, 53%, 100% {
      opacity: 0;
      transform: translateY(80px) scale(2);
    }
    50% {
      opacity: 0.25;
      transform: translateY(4px) scale(0.5);
    }
  }
  .wall .top {
    width: 80px;
    transform: rotateX(90deg);
    transform-origin: top;
    background-image: linear-gradient(#0007, #fff7);
    -webkit-animation: wallHeight 15s infinite linear;
            animation: wallHeight 15s infinite linear;
    -webkit-animation-delay: inherit;
            animation-delay: inherit;
  }
  .wall .bottom {
    bottom: 0;
    width: 80px;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    background-image: linear-gradient(#fff0, #000c);
    -webkit-animation: wallHeight 15s infinite linear;
            animation: wallHeight 15s infinite linear;
    -webkit-animation-delay: inherit;
            animation-delay: inherit;
  }
  .wall .left {
    bottom: 0;
    height: 80px;
    transform: rotateY(-90deg);
    transform-origin: left;
    background-image: linear-gradient(to bottom left, #fff3, #000c);
    -webkit-animation: wallWidth 15s infinite linear;
            animation: wallWidth 15s infinite linear;
    -webkit-animation-delay: inherit;
            animation-delay: inherit;
  }
  .wall .right {
    bottom: 0;
    right: 0;
    height: 80px;
    transform: rotateY(90deg);
    transform-origin: right;
    background-image: linear-gradient(to bottom right, #fff3, #000c);
    -webkit-animation: wallWidth 15s infinite linear;
            animation: wallWidth 15s infinite linear;
    -webkit-animation-delay: inherit;
            animation-delay: inherit;
  }
  @-webkit-keyframes wallCeil {
    0%, 49.75%, 55%, 100% {
      transform: translateZ(20px);
    }
    50% {
      transform: translateZ(10px);
    }
  }
  @keyframes wallCeil {
    0%, 49.75%, 55%, 100% {
      transform: translateZ(20px);
    }
    50% {
      transform: translateZ(10px);
    }
  }
  @-webkit-keyframes wallHeight {
    0%, 49.75%, 55%, 100% {
      height: 20px;
    }
    50% {
      height: 10px;
    }
  }
  @keyframes wallHeight {
    0%, 49.75%, 55%, 100% {
      height: 20px;
    }
    50% {
      height: 10px;
    }
  }
  @-webkit-keyframes wallWidth {
    0%, 49.75%, 55%, 100% {
      width: 20px;
    }
    50% {
      width: 10px;
    }
  }
  @keyframes wallWidth {
    0%, 49.75%, 55%, 100% {
      width: 20px;
    }
    50% {
      width: 10px;
    }
  }
  
  .ballArm {
    position: absolute;
    bottom: -210px;
    width: 20px;
    height: 240px;
    transform-origin: bottom;
    transform-style: preserve-3d;
    -webkit-animation: armRotate 1.5s infinite linear alternate;
            animation: armRotate 1.5s infinite linear alternate;
  }
  @-webkit-keyframes armRotate {
    from {
      transform: translateX(-50%) rotate(-45deg);
    }
    to {
      transform: translateX(-50%) rotate(45deg);
    }
  }
  @keyframes armRotate {
    from {
      transform: translateX(-50%) rotate(-45deg);
    }
    to {
      transform: translateX(-50%) rotate(45deg);
    }
  }
  
  .ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10%;
    transform-style: preserve-3d;
    -webkit-animation: ballRotateZ 1.5s infinite linear alternate;
            animation: ballRotateZ 1.5s infinite linear alternate;
  }
  @-webkit-keyframes ballRotateZ {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(-45deg);
    }
  }
  @keyframes ballRotateZ {
    from {
      transform: rotate(45deg);
    }
    to {
      transform: rotate(-45deg);
    }
  }
  .ball::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle at top, #fff, #222);
    border-radius: 50%;
    -webkit-animation: ballRotateY 42s infinite linear;
            animation: ballRotateY 42s infinite linear;
  }
  @-webkit-keyframes ballRotateY {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
  @keyframes ballRotateY {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }

.grecaptcha-badge {
    z-index: 15;
}

/*----- Circle Animation CSS End -----*/

/*----- Error Box CSS Start -----*/

.msg-container {
    position: fixed;
    bottom: 0;
    right: -350px;
    height: 100%;
    width: 350px;
    display: block;
    padding: 15px;
    z-index: 999999;
}

.msg-container .msg-box {
    position: relative;
    left: calc(-100% - 30px);
    min-height: 70px;
    width: 100%;
    padding: 15px;
    color: #383d41;
    background: #ffffff;
    border: 1px solid #d6d8db;
    display: block;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
    display: none;
}

.msg-container .msg-box .msg-content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.msg-container .msg-box .msg-content .msg-icon {
    position: relative;
    height: 40px;
    width: 40px;
    border: 2px solid #262626;
    display: inline-block;
    margin-right: 13px;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.msg-container .msg-box .msg-content .msg-icon i {
    font-size: 22px;
}

.msg-container .msg-box .msg-content .msg-text {
    font-size: 15px;
    line-height: 23px;
}

.msg-container .msg-box .msg-content .msg-text p {
    margin: 0;
}


/*error message box*/

.msg-container .msg-box.error-box {
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
}

.msg-container .msg-box.error-box .msg-content .msg-icon {
    border-color: #f5c6cb;
}

.msg-container .msg-box.error-box .msg-content .msg-icon i {
    color: #721c24;
}


/*success message box*/

.msg-container .msg-box.success-box {
    color: #155724;
    background: #d4edda;
    border-color: #c3e6cb;
}

.msg-container .msg-box.success-box .msg-content .msg-icon {
    border-color: #c3e6cb;
}

.msg-container .msg-box.success-box .msg-content .msg-icon i {
    color: #155724;
}

.error {
    border-color: red !important;
}

/*----- Error Box CSS End -----*/

/*----- Media CSS Start -----*/

@media screen and (max-width: 1199px) {
    .login-wrap .login-left {
        width: 55%;
    }
    .login-wrap .login-right {
        width: 45%;
    }
}

@media screen and (max-width: 991px) {
    .login-wrap {
        position: relative;
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        background: #0675e8;
    }
    .login-wrap .login-left {
        width: 100%;
        margin-top: 30px;
        border-radius: 30px 30px 0 0;
    }
    .login-wrap .login-right {
        display: none;
    }
    .login-wrap .login-left .site-logo {
        padding-top: 60px;
    }
    .login-wrap .login-left .login-form {
        -ms-flex: unset;
        flex: unset;
    }
    .login-wrap .login-left .login-left-wrap {
        align-items: center;
    }
    .login-wrap .login-left form {
        padding: 80px 0;
    }
}

@media screen and (max-width: 400px) {
    .login-wrap .login-left .title {
        font-size: 24px;
    }
    .login-wrap .login-left form {
        padding: 100px 0;
    }
    .login-wrap .login-left .site-logo img {
        height: 36px;
    }
    .copyright {
        padding-bottom: 20px;
    }
    .sign-field input {
        width: calc(100vw - 40px);
    }
}

/*----- Media CSS End -----*/