/*----- Font-Face CSS Start -----*/

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.eot");
  src: url("../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rubik-Medium.woff2") format("woff2"),
    url("../fonts/Rubik-Medium.woff") format("woff"),
    url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.eot");
  src: url("../fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rubik-Bold.woff2") format("woff2"),
    url("../fonts/Rubik-Bold.woff") format("woff"),
    url("../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.eot");
  src: url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Rubik-Regular.woff2") format("woff2"),
    url("../fonts/Rubik-Regular.woff") format("woff"),
    url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "fontAwesome-solid";
  src: url("../webfonts/fa-solid-900.eot");
  src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    url("../webfonts/fa-solid-900.woff2") format("woff2"),
    url("../webfonts/fa-solid-900.woff") format("woff"),
    url("../webfonts/fa-solid-900.ttf") format("truetype"),
    url("../webfonts/fa-solid-900.svg#fontawesome") format("svg");
  font-style: normal;
  font-weight: 900;
  font-display: auto;
}

/*----- Font-Face CSS End -----*/

/*----- Common CSS Start -----*/

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Rubik";
}

* {
  box-sizing: border-box;
  outline: none;
  box-shadow: none;
}

.d-none {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

/*----- Common CSS End -----*/

/*----- Login CSS Start -----*/

.login-wrap {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: inherit;
  background: #f0f0f0;
}

.login-wrap .login-left {
  position: relative;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bg-border-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150%;
}

.login-wrap .login-left .site-logo {
  padding: 30px 0;
  text-align: center;
}

.login-wrap .login-left .site-logo img {
  height: 52px;
}

.login-wrap .login-left .welcome-img {
  width: 100%;
  max-width: 580px;
  margin: auto;
  height: auto;
  padding: 30px;
}

.login-wrap .login-right {
  position: relative;
  min-height: 100vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 100px -10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 100px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 100px -10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.login-wrap .login-right .title {
  font-size: 32px;
  color: #212121;
  font-weight: 700;
  margin: 0 0 50px 0;
}

.login-wrap .login-right .title span {
  display: block;
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #444444;
}

.login-wrap .login-left .site-logo,
.login-wrap .login-right form {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.login-wrap .login-right form {
  padding: 30px 0 80px 0;
}

.login-wrap .login-right .login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
}

.sign-field {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.sign-field input {
  position: relative;
  display: block;
  /* border: 1px solid rgb(207, 214, 228); */
  position: relative;
  height: 50px;
  width: 100%;
  display: block;
  background: #ffffff;
  border: 1px solid #6c757d;
  border-radius: 4px;
  font-size: 15px;
  padding: 10px 15px;
  box-shadow: none;
  transition: 0.3s all;
}

.sign-field.pwd input {
  padding-right: 30px;
}

.sign-field label {
  position: absolute;
  top: -8.5px;
  left: 10px;
  margin: 0;
  font-size: 13px;
  display: flex;
  align-items: center;
  line-height: normal;
  text-transform: capitalize;
  color: #969696;
  transition: 0.3s all;
  padding: 1px 5px;
  background: #ffffff;
  border-radius: 2px;
}

.pass-eye {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #444;
  font-size: 16px;
  cursor: pointer;
}

.pass-eye.show .fa-eye:before {
  content: "\f070";
}

.sign-field label i {
  font-size: 10px;
  margin-right: 5px;
}

.btn {
  position: relative;
  display: block;
  font-size: 16px;
  padding: 10px 38px;
  line-height: 26px;
  color: #fff;
  background-color: #31313d;
  border-color: #31313d;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background-color: #6f7d8c;
  border-color: #6f7d8c;
}

.copyright {
  position: relative;
  padding-bottom: 20px;
  display: block;
  font-size: 14px;
}

.copyright a {
  text-decoration: none;
  color: #212121;
  transition: 0.3s;
}

.copyright a:hover {
  color: #31313d;
}

/*----- Login CSS End -----*/

/*----- Modal CSS Start -----*/

.modal-backdrop.show {
  opacity: 0.8;
}

.modal,
body.modal-open {
  padding: 0 !important;
}

body.modal-open {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal .modal-header .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #6f7d8c;
  opacity: 1;
  color: #fff;
  font-size: 17px;
  border-radius: 50%;
  transition: 0.3s;
}

.modal .modal-header .close i {
  line-height: 0;
}

.modal .modal-header .close:hover {
  opacity: 1 !important;
}

.modal .modal-header .modal-title {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1px;
  color: #31313d;
  margin: 0;
}

.modal .modal-sub-title {
  margin: 0;
}

.modal .modal-header .modal-header-content {
  width: 100%;
}

.modal .modal-body {
  background: #ffffff;
  padding: 25px;
}

.cur-pointer {
  cursor: pointer;
}

.pwd {
  position: relative;
}

.forgot-pwd {
  position: relative;
  display: block;
  text-align: right;
  line-height: normal;
}

/*----- Modal CSS End -----*/

/*----- Error Box CSS Start -----*/

.msg-container {
  position: fixed;
  bottom: 0;
  right: -350px;
  height: 100%;
  width: 350px;
  display: block;
  padding: 15px;
  z-index: 999999;
}

.msg-container .msg-box {
  position: relative;
  left: calc(-100% - 30px);
  min-height: 70px;
  width: 100%;
  padding: 15px;
  color: #383d41;
  background: #ffffff;
  border: 1px solid #d6d8db;
  display: block;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
  display: none;
}

.msg-container .msg-box .msg-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.msg-container .msg-box .msg-content .msg-icon {
  position: relative;
  height: 40px;
  width: 40px;
  border: 2px solid #262626;
  display: inline-block;
  margin-right: 13px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.msg-container .msg-box .msg-content .msg-icon i {
  font-size: 22px;
}

.msg-container .msg-box .msg-content .msg-text {
  font-size: 15px;
  line-height: 23px;
}

.msg-container .msg-box .msg-content .msg-text p {
  margin: 0;
}

/*error message box*/

.msg-container .msg-box.error-box {
  color: #721c24;
  background: #f8d7da;
  border-color: #f5c6cb;
}

.msg-container .msg-box.error-box .msg-content .msg-icon {
  border-color: #f5c6cb;
}

.msg-container .msg-box.error-box .msg-content .msg-icon i {
  color: #721c24;
}

/*success message box*/

.msg-container .msg-box.success-box {
  color: #155724;
  background: #d4edda;
  border-color: #c3e6cb;
}

.msg-container .msg-box.success-box .msg-content .msg-icon {
  border-color: #c3e6cb;
}

.msg-container .msg-box.success-box .msg-content .msg-icon i {
  color: #155724;
}

.error {
  border-color: red !important;
}

/*----- Error Box CSS End -----*/

/*----- Media CSS Start -----*/

@media screen and (max-width: 1199px) {
  .login-wrap .login-left {
    width: 55%;
  }
}

@media screen and (max-width: 991px) {
  .login-wrap {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .login-wrap .login-left {
    width: 100%;
    height: 120px;
    margin-top: 30px;
    border-radius: 30px 30px 0 0;
    margin: 0;
  }
  .login-wrap .login-left .site-logo {
    padding: 30px 0;
  }
  .login-wrap .login-left .welcome-img {
    display: none;
  }
  .login-wrap .login-right {
    min-height: calc(100vh - 120px);
    width: 100%;
    max-width: 720px;
    border-radius: 50px 50px 0 0;
  }
  .login-wrap .login-right .login-form {
    -ms-flex: unset;
    flex: unset;
  }
  .login-wrap .login-right form {
    padding: 80px 0;
  }
}

@media screen and (max-width: 480px) {
  .btn {
    font-size: 14px;
    padding: 8px 26px;
  }
  .login-wrap .login-left {
    height: 80px;
  }
  .login-wrap .login-right {
    min-height: calc(100vh - 80px);
  }
  .login-wrap .login-right .title {
    font-size: 24px;
  }
  .login-wrap .login-right form {
    padding: 30px 0;
  }
  .login-wrap .login-left .site-logo img {
    height: 36px;
  }
  .copyright {
    padding-bottom: 0;
  }
  .sign-field input {
    width: calc(100vw - 40px);
  }
}

/*----- Media CSS End -----*/
